
@*
    Here it goes all the commits xdd
*@
@{
    ViewData["Title"] = "HelloWorld";
}

<h1> @ViewData["Title"] </h1>

<div>
@Html.ActionLink("Back to Index", "Index", "Helloworld");
</div>
<div>
@Html.ActionLink("Back to Menu", "Index", "")
</div>
